.brands-list {
    display: flex;
}

.brands-item {
    margin-right: 20px;
}

.brands-item:last-child {
    margin-right: 0;
}

.image-wrapper {
    width: 300px;
    height: 219px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;

    background-color: var(--section-green-color);
}

.brands-title {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.brabds-text {
    margin: 0;
    font-family: 'Vollkorn';
    line-height: 1.5;
    text-align: center;
}
