.nav {
  display: flex;
  position: relative;
}
.nav .logo {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  line-height: 1.73;
}
.site-nav .item {
  display: flex;
}
.site-nav .link {
  text-transform: uppercase;
  font-size: 12px;
}
