:root {
  --back-frame-3: rgba(254, 254, 201, 1);
  --border-frame-3: rgba(71, 71, 79, 1);
}
.frame-3 {
  background-color: var(--back-frame-3);
  position: relative;
}
.frame-3-img {
  position: absolute;
  top: 0;
  right: 50%;
  fill: black;
  transform: translate(50%, -50%);
}
.frame-3-text {
  padding: 40px;
  font-family: 'Vollkorn';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--border-frame-3);
}
.rectangle {
  border: 1px solid var(--border-frame-3);
  width: 159px;
  height: 53px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding-bottom: 61px;
}
.rectangle-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
