<section class="section frame-4">
    <div class="container">
        <h2 class="section-title">How we make brands thrive</h2>
        <ul class="brands-list list">
            <li class="brands-item">
                <div class="image-wrapper">
                    <img src="./images/brands-1.svg" alt="brands-1" width="127" height="119" />
                </div>
                <h3 class="brands-title">SET a target</h3>
                <p class="brabds-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                </p>
            </li>
            <li class="brands-item">
                <div class="image-wrapper">
                    <img src="./images/brands-2.svg" alt="brands-2" width="127" height="119" />
                </div>
                <h3 class="brands-title">design a solution</h3>
                <p class="brabds-text">Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                </p>
            </li>
            <li class="brands-item">
                <div class="image-wrapper">
                    <img src="./images/brands-3.svg" alt="brands-3" width="127" height="119" />
                </div>
                <h3 class="brands-title">track the progress</h3>
                <p class="brabds-text">Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                </p>
            </li>
        </ul>
    </div>
</section>
