<section class="section frame-9">
  <div class="container">
    <h2 class="visually-hidden">Order service</h2>
    <div class="message-service">
      <input type="text" name="client-name" placeholder="Name" class="input">
      <input type="email" name="client-email" placeholder="Email" class="input">
      <input type="number" name="project-budget" placeholder="Budget" class="input">
      <textarea name="project-description" placeholder="Describe youre project..." class="input text-area"></textarea>
      <button type="submit" class="send-btn">Send Message</button>
    </div>
    <div class="logo-link">
      <a href="#" class="logo-link">
        <img src="./images/logo.png" alt="logo" class="logo-img">
      </a>
    </div>
    <p class="depiction">Minimal Template made in Webflow. All rights reserved.</p>








  </div>
</section>