<section class="section frame-8">
    <div class="container">
        <h2 class="frame-8__title">LET’s Get in touch</h1>
        <div>
            <ul>
                <li>
                    <svg></svg>
                    <b></b>
                    <adress></adress>
                </li>
                <li>
                    <svg></svg>
                    <b></b>
                    <adress></adress>
                </li>
                <li>
                    <svg></svg>
                    <b></b>
                    <adress></adress>
                </li>
            </ul>
        </div>
    </div>
</section>