<section class="section frame-3">
  <img src="./images/1234.png" alt="x" class="frame-3-img" />
  <div class="container">
    <p class="frame-3-text">
      Minimalist is a full-service digital creative agency located in Ontorio
      Canada. We focus on design, consulting, technology, and photography. We’ve
      been building unique digital products, platforms, and experiences for the
      past 6 years. Let us help your company grow.
    </p>
    <div class="rectangle">Get in Touch</div>
  </div>
</section>
